@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/images/bg/memphis.png");
}

/* ant button */
button {
  box-shadow: none;
}

button.ant-btn-primary {
  background: #7dce94;
  box-shadow: none;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover,
.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: #7dce94;
  border-color: #7dce94;
  color: #ffffff;
}

button.ant-btn.ant-btn-primary:hover {
  background-color: #fff !important;
  border-color: #7dce94 !important;
  color: #7dce94 !important;
}

button.ant-btn.ant-btn-primary.ant-btn-dangerous:hover {
  border-color: #ff5e6c !important;
  color: #ff5e6c !important;
}

/* ant modal */
.ant-modal .ant-modal-close {
  top: 12px;
  inset-inline-end: 12px;
}
