.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto 35px;
}
.logo {
  line-height: 1;
  text-decoration: none;
  color: var(--color-black);
  position: relative;
  display: block;
  margin-right: auto;
  padding-right: 22px;
}
.logo h1 {
  position: relative;
}
.logo span {
  position: absolute;
  right: -25px;
  top: 60%;
  transform: translateY(-50%);
  font-size: 15px;
  line-height: 16px;
  color: var(--color-white);
  background: var(--color-button);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 0px;
  height: 0px;
  border-left: 0px solid transparent;
  border-top: 0px solid transparent;
  transition: all 0.3s ease;
}
.logo::after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 0px;
  height: 0px;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  transition: all 0.3s ease;
}
.logo:hover::before {
  border-left: 2px solid var(--color-black);
  border-top: 2px solid var(--color-black);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}
.logo:hover::after {
  border-right: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}
.navList ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.navList ul li {
  font-size: 20px;
  padding: 0px 15px;
  position: relative;
}
.navList ul li a {
  color: var(--color-black);
  text-decoration: none;
}
.navList ul li a span {
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(15px);
  opacity: 0;
  transition: all 0.3s ease;
}
.navList ul li a::after {
  content: "";
  opacity: 0;
  transition: all 0.3s ease;
}
.navList ul li a:hover span {
  transform: translateY(25px);
  opacity: 1;
  transition: all 0.3s ease;
}
.isActive::after {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -5px;
  height: 2px;
  background-color: var(--color-black);
  width: 65%;
  opacity: 1 !important;
  transition: all 0.3s ease !important;
  transition-delay: 0.3s !important;
}
.auth {
  position: relative;
  padding: 0px 15px;
  cursor: pointer;
  z-index: 1;
}
.auth span {
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(5px);
  opacity: 0;
  transition: all 0.3s ease;
}
.auth:hover span {
  transform: translateY(18px);
  opacity: 1;
  transition: all 0.3s ease;
}
.userPanel {
  position: absolute;
  top: -10px;
  left: 0px;
  right: 0px;
  z-index: -1;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 25px;
  padding: 55px 15px 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transform-origin: top;
  transition: all 0.3s ease;
}
.userPanelOpened {
  opacity: 1;
  transform: scale(1);
  transform-origin: top;
  transition: all 0.3s ease;
}
.userPanel > a,
.userPanel > button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
}
.userPanel svg {
  display: block;
}
.userPanel > a:not(:last-child),
.userPanel > button:not(:last-child) {
  margin-bottom: 5px;
}
.userPanel > a::before,
.userPanel > button::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 0px;
  height: 0px;
  border-left: 0px solid transparent;
  border-top: 0px solid transparent;
  transition: all 0.3s ease;
}
.userPanel > a::after,
.userPanel > button::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 0px;
  height: 0px;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  transition: all 0.3s ease;
}
.hoverLogout::before {
  top: -1px !important;
}
.hoverLogout::after {
  bottom: -1px !important;
}
.userPanel > a:hover::before,
.userPanel > button:hover::before {
  border-left: 2px solid var(--color-black);
  border-top: 2px solid var(--color-black);
  width: 13px;
  height: 13px;
  transition: all 0.3s ease;
}
.userPanel > a:hover::after,
.userPanel > button:hover::after {
  border-right: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
  width: 13px;
  height: 13px;
  transition: all 0.3s ease;
}

.modalBg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 19;
  background-color: rgba(0, 0, 0, 0.5);
}
.languageSwitcher {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .header {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 15px;
  }
  .logo::before,
  .logo::after {
    content: none;
  }
  .logo h1 {
    font-size: 1.5em;
  }
  .logo span {
    right: -20px;
    top: 62%;
    font-size: 12px;
    width: 18px;
    height: 18px;
  }
  .auth {
    padding: 0px 5px;
  }
  .userPanel {
    top: -5px;
    padding: 50px 15px 10px;
  }
  .navList ul li {
    padding: 0px 5px;
  }
  .navList ul li a > svg {
    width: 30px;
  }
  .languageSwitcher {
    padding: 3px;
  }
  .auth::before,
  .navList ul li a::before {
    font-size: 30px;
  }
  .navList ul li a span,
  .auth span {
    display: none;
  }
}

@media (max-width: 424px) {
  .logo h1 {
    font-size: 1.3em;
  }
  .auth::before,
  .navList ul li a::before {
    font-size: 26px;
  }
}
